<div class="comments-area">
    <h4 class="comments-title"> comments (5) </h4>
    <ul class="comment-list">
        <li class="comment-item">
            <div class="comment-body">
                <div class="comment-author-image">
                    <img alt=""
                        src="https://secure.gravatar.com/avatar/16d6df8a524cb6a27ad177f9a9fa224a?s=80&amp;d=mm&amp;r=g"
                        srcset="https://secure.gravatar.com/avatar/16d6df8a524cb6a27ad177f9a9fa224a?s=160&amp;d=mm&amp;r=g 2x"
                        class="avatar avatar-80 photo" height="80" width="80" loading="lazy">
                </div>

                <div class="comment-author">
                    <span class="comment-author">Lawrence York</span>
                    <span class="comment-meta">
                        <span class="date normal_font">February 25, 2021</span>
                    </span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quam vulputate dignissim suspendisse in est ante in. Accumsan in
                        nisl nisi scelerisque. Posuere ac ut consequat semper viverra nam libero. Dui vivamus arcu felis
                        bibendum ut tristique et. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a.
                        Lacus sed turpis tincidunt id aliquet risus. Nulla aliquet porttitor lacus luctus accumsan.
                        Malesuada nunc vel risus commodo viverra maecenas. Et pharetra pharetra massa massa. Varius
                        morbi enim nunc faucibus a pellentesque sit. Vitae congue mauris rhoncus aenean vel elit.
                        Feugiat scelerisque varius morbi enima.
                    </p>
                </div>

            </div>
        </li>

        <li class="comment-item">
            <div class="comment-body">
                <div class="comment-author-image">
                    <img alt=""
                        src="https://secure.gravatar.com/avatar/16d6df8a524cb6a27ad177f9a9fa224a?s=80&amp;d=mm&amp;r=g"
                        srcset="https://secure.gravatar.com/avatar/16d6df8a524cb6a27ad177f9a9fa224a?s=160&amp;d=mm&amp;r=g 2x"
                        class="avatar avatar-80 photo" height="80" width="80" loading="lazy">
                </div>

                <div class="comment-author">
                    <span class="comment-author">John Maps</span>
                    <span class="comment-meta">
                        <span class="date normal_font">February 22, 2021</span>
                    </span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quam vulputate dignissim suspendisse in est ante in. Accumsan in
                        nisl nisi scelerisque. Posuere ac ut consequat semper viverra nam libero. Dui vivamus arcu felis
                        bibendum ut tristique et. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a.
                        Lacus sed turpis tincidunt id aliquet risus. Nulla aliquet porttitor lacus luctus accumsan.
                        Malesuada nunc vel risus commodo viverra maecenas. Et pharetra pharetra massa massa. Varius
                        morbi enim nunc faucibus a pellentesque sit. Vitae congue mauris rhoncus aenean vel elit.
                        Feugiat scelerisque varius morbi enima.
                    </p>
                </div>

            </div>
        </li>

        <li class="comment-item">
            <div class="comment-body">
                <div class="comment-author-image">
                    <img alt=""
                        src="https://secure.gravatar.com/avatar/16d6df8a524cb6a27ad177f9a9fa224a?s=80&amp;d=mm&amp;r=g"
                        srcset="https://secure.gravatar.com/avatar/16d6df8a524cb6a27ad177f9a9fa224a?s=160&amp;d=mm&amp;r=g 2x"
                        class="avatar avatar-80 photo" height="80" width="80" loading="lazy">
                </div>

                <div class="comment-author">
                    <span class="comment-author">Jason Doe</span>
                    <span class="comment-meta">
                        <span class="date normal_font">February 12, 2021</span>
                    </span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quam vulputate dignissim suspendisse in est ante in. Accumsan in
                        nisl nisi scelerisque. Posuere ac ut consequat semper viverra nam libero. Dui vivamus arcu felis
                        bibendum ut tristique et. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a.
                        Lacus sed turpis tincidunt id aliquet risus. Nulla aliquet porttitor lacus luctus accumsan.
                        Malesuada nunc vel risus commodo viverra maecenas. Et pharetra pharetra massa massa. Varius
                        morbi enim nunc faucibus a pellentesque sit. Vitae congue mauris rhoncus aenean vel elit.
                        Feugiat scelerisque varius morbi enima.
                    </p>
                </div>

            </div>
        </li>
    </ul>
</div>

<div class="blog-comments">
    <h3 id="reply-title" class="comment-reply">Leave a comment</h3>
    <div class="jumbotron">
        <form>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <textarea class="form-control form-textarea" rows="9" placeholder="Message*"></textarea>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Website">
                    </div>
                    <input type="submit" class="comment-btn" value="Post Comment">
                </div>
            </div>
        </form>
    </div>
</div>