<% provide(:title, "Blog") %>
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <div class="blog-header-wrapper">
                    <h1 class="blog-h1">AREA SCOUTS BLOGS</h1>
                    <div class="blog-content-wrapper">
                        <a href="#" class="blog-a">
                            <div class="image">
                                <%= image_tag 'blogs/1', width:"300", height:"250", class:"img-responsive" %>
                            </div>
                            <div class="date">
                                <span class="date-day">06</span>
                                <span class="date-month ml-2">Mar</span>
                            </div>
                        </a>

                        <div class="blog-inner">
                            <a href="#" class="blog-link">
                                <div class="blog-inner-header">
                                    Hit a Homerun with Brian Burgamy
                                </div>
                            </a>
                            <div class="blog-inner-content">
                                <p>
                                    Hi Everyone! My name is Brian Burgamy and I’m the Associate National Director of
                                    Hitting for Area Scouts! I’m very thankful for this opportunity and excited to work
                                    with each and every one of you. I was born in Lawton, Oklahoma but I currently
                                    reside in Binghamton, New York with my wife Suzanne and our…
                                </p>
                            </div>

                            <div class="blog-inner-footer">
                                <div class="blog-inner-category">
                                    <i class="fa fa-folder-o color" aria-hidden="true"></i>
                                    <ul>
                                        <li><a href="#" class="text-decoration">Area Scouts</a></li>
                                    </ul>
                                </div>

                                <div class="blog-inner-comments">
                                    <a href="#" class="text-decoration">
                                        <i class="fa fa-comment-o color" aria-hidden="true"></i>
                                        <span>0</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-content-wrapper mt-4">
                        <a href="#" class="blog-a">
                            <div class="image">
                                <%= image_tag 'blogs/2', width:"300", height:"250", class:"img-responsive" %>
                            </div>
                            <div class="date">
                                <span class="date-day">25</span>
                                <span class="date-month ml-2">Feb</span>
                            </div>
                        </a>

                        <div class="blog-inner">
                            <a href="#" class="blog-link">
                                <div class="blog-inner-header">
                                    Meet the Directors: Staying in the Game with Anthony Inzillo
                                </div>
                            </a>
                            <div class="blog-inner-content">
                                <p>
                                    Hey everyone! I’m Anthony Inzillo, the National Director of Sports Medicine and
                                    Performance here at Area Scouts. I grew up playing sports and have been for my whole
                                    life. Starting with baseball, soccer, and basketball when I was young, I
                                    transitioned to football and lacrosse as I got a little older, then shifted to
                                    individual…
                                </p>
                            </div>

                            <div class="blog-inner-footer">
                                <div class="blog-inner-category">
                                    <i class="fa fa-folder-o color" aria-hidden="true"></i>
                                    <ul>
                                        <li><a href="#" class="text-decoration">Area Scouts</a></li>
                                    </ul>
                                </div>

                                <div class="blog-inner-comments">
                                    <a href="#" class="text-decoration">
                                        <i class="fa fa-comment-o color" aria-hidden="true"></i>
                                        <span>0</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-content-wrapper mt-4">
                        <a href="#" class="blog-a">
                            <div class="image">
                                <%= image_tag 'blogs/3', width:"300", height:"250", class:"img-responsive" %>
                            </div>
                            <div class="date">
                                <span class="date-day">22</span>
                                <span class="date-month ml-2">Feb</span>
                            </div>
                        </a>

                        <div class="blog-inner">
                            <a href="#" class="blog-link">
                                <div class="blog-inner-header">
                                    Catching Up with Alyssa Reina
                                </div>
                            </a>
                            <div class="blog-inner-content">
                                <p>
                                    To say that sport is just an event, spectacle or competition, is putting it lightly.
                                    Sports bring joy, challenges, and long lasting relationships. They bring successes
                                    and failures, triumphs and losses, emotion and so much more, to both those who watch
                                    it and those who participate in it. For me, that sport was softball. Softball…
                                </p>
                            </div>

                            <div class="blog-inner-footer">
                                <div class="blog-inner-category">
                                    <i class="fa fa-folder-o color" aria-hidden="true"></i>
                                    <ul>
                                        <li><a href="#" class="text-decoration">Area Scouts</a></li>
                                    </ul>
                                </div>

                                <div class="blog-inner-comments">
                                    <a href="#" class="text-decoration">
                                        <i class="fa fa-comment-o color" aria-hidden="true"></i>
                                        <span>0</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-content-wrapper mt-4">
                        <a href="#" class="blog-a">
                            <div class="image">
                                <%= image_tag 'blogs/4', width:"300", height:"250", class:"img-responsive" %>
                            </div>
                            <div class="date">
                                <span class="date-day">18</span>
                                <span class="date-month ml-2">Feb</span>
                            </div>
                        </a>

                        <div class="blog-inner">
                            <a href="#" class="blog-link">
                                <div class="blog-inner-header">
                                    Fully Equipped with Brandon Guyer
                                </div>
                            </a>
                            <div class="blog-inner-content">
                                <p>
                                    What’s up everyone! My name is Brandon Guyer and I am the National Director of
                                    Mental Performance and Nutrition here at Area Scouts. I wanted to use this blog post
                                    to tell you a little bit about myself and explain what I bring to the Area Scouts
                                    platform. My professional baseball career started back in…
                                </p>
                            </div>

                            <div class="blog-inner-footer">
                                <div class="blog-inner-category">
                                    <i class="fa fa-folder-o color" aria-hidden="true"></i>
                                    <ul>
                                        <li><a href="#" class="text-decoration">Area Scouts</a></li>
                                    </ul>
                                </div>

                                <div class="blog-inner-comments">
                                    <a href="#" class="text-decoration">
                                        <i class="fa fa-comment-o color" aria-hidden="true"></i>
                                        <span>0</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 hide-sm">
                <aside class="side-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </aside>

                <aside class="side-cat">
                    <div class="cat-title">
                        <h4 class="cat-4">Categories</h4>
                    </div>
                    <ul>
                        <li class="cat-item">
                            <a href="#"><span>Area Scouts</span></a>
                        </li>
                        <li class="cat-item">
                            <a href="#"><span>Uncategorized</span></a>
                        </li>
                    </ul>
                </aside>

                <aside class="side-tag">
                    <div class="tag-title">
                        <h4 class="tag-4">Tags</h4>
                    </div>
                    <div class="tag-cloud">
                        <a href="#" class="tag-item">Area Scouts</a>
                        <a href="#" class="tag-item">B.A.S.E. Assessment</a>
                        <a href="#" class="tag-item">baseball</a>
                        <a href="#" class="tag-item">Brian Burgamy</a>
                        <a href="#" class="tag-item">Directors</a>
                        <a href="#" class="tag-item">Hitting</a>
                        <a href="#" class="tag-item">On Field Assessment</a>
                        <a href="#" class="tag-item">Physical Therapy</a>
                        <a href="#" class="tag-item">Softball</a>
                        <a href="#" class="tag-item">Softball Pitching</a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>