<% provide(:title, "Blog") %>
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <div class="blog-header-wrapper">
                    <h1 class="blog-h1">HIT A HOMERUN WITH BRIAN BURGAM</h1>
                </div>
                <%= image_tag 'blogs/1', class:"blogshow-img" %>
                <div class="blogshow-wrapper">
                    <div class="blog-left">
                        <div class="stm-date">
                            <i class="fa fa-calendar-o" class="blogshow-icons"></i>
                            March 6, 2021
                        </div>
                        <div class="stm-author">
                            <i class="fa fa-user" class="blogshow-icons"></i>
                            Brian Burgamy
                        </div>
                    </div>
                    <div class="blog-right">
                        <div class="stm-cat">
                            <i class="fa fa-folder-o" class="blogshow-icons"></i>
                            <a href="#">Area Scouts</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="blog-content">

                    <p>Hi Everyone!</p>
                    <p> 
                        My name is Brian Burgamy and I’m the Associate National Director of Hitting for Area Scouts! I’m
                        very thankful for this opportunity and excited to work with each and every one of you.
                    </p>
                    <p> 
                        I was born in Lawton, Oklahoma but I currently reside in Binghamton, New York with my wife
                        Suzanne and our two kids, Evelyn 4, Wyatt 1. Even though I say I’m from Lawton, which is a small
                        city connected to a big Army base, Fort Sill, I actually grew up in Cache, a smaller town with a
                        population of only 3,000 people at that time.
                    </p>
                    <p>
                        I learned about baseball from my Dad and Grandaddy. Our daily routine was to go out in the
                        backyard, my brother would join, and we would play catch, work on pitching, fielding, or we
                        would go up to the High School and hit in the cage. We built our own mound, and my dad would hit
                        grounders, throw pop-ups, and throw us batting practice. We were always outside playing a sport
                        but had a special love for baseball.
                    </p>
                    <%= image_tag 'blogs/brian1',  class:"blogshow-img" %>
                    <p>
                        I worked hard and had a lot of support from my parents and coaches and earned a scholarship to
                        Wichita St. University. It was an honor to play for the legendary coach Gene Stephenson. I was
                        an honorable mention Freshman All-American and by my junior year I earned All-American honors.
                        That summer, I was drafted by the San Diego Padres in the 9<sup>th</sup> round of the MLB
                        Amateur Draft.&nbsp;
                    </p>
                    <p>
                        I spent 16 years as a player in professional baseball making it as high as Triple A. This
                        includes time in Canada, Mexico, Venezuela, Dominican Republic, and Australia. Over the years, I
                        played a lot of games and learned a lot from coaches and teammates. Surprisingly though, I
                        learned the most about myself and the game through my own personal trial and error.
                    </p>
                    <p> 
                        For the last three seasons, I worked for the St. Louis Cardinals Organization as a Minor League
                        hitting coach. Unfortunately, due to COVID-19 and the MLB changes to the Minor League Baseball
                        structure, I was not signed back to coach for a 4<sup>th</sup>. I actually now see this to be a
                        great benefit to me and am grateful to the St louis Cardinals organization for starting me on my
                        new path that has led me to Area Scouts.
                    </p>
                    <%= image_tag 'blogs/brian2', class:"blogshow-img" %>
                    <p>My new path began in August 2020 when I involved myself in youth and amateur baseball locally. I
                        am so happy that I made that decision because I have been rejuvenated and have once again
                        captured the love for this game. It is an honor to be a part of a team alongside Fred McGriff on
                        the hitting side, and I look forward to bringing fun and excitement back to the game that we all
                        love! With Fred, I look to pass down all of my knowledge and experience to the next generation
                        of athletes. Baseball is a game that has struggled with inexperienced coaches spreading
                        misinformation over the years, and my goal is to keep the player development process simple,
                        constructive and fun for everyone. 
                    </p>
                    <p>In my opinion, Area Scouts hits all the most important facets of player development. Area Scouts
                        will help any level of athlete learn how to move and think properly <strong>off</strong> the
                        field. The tools and correctives provided by our team of directors and evaluators will help
                        optimize player performance <strong>on</strong> the field. Giving kids the tools to move
                        consistently, and within their own rhythm, will allow them the ability to stay healthy and
                        achieve their ultimate goals. Let us work together to give our youth the tools to succeed. Come
                        join us on this amazing journey! I look forward to it!</p>
                    <p>All the best!!</p>
                </div>
                <hr>
                <div class="blogshow-wrapper">
                    <div class="blog-left">
                        <div class="stm-date">
                            <i class="fa fa-tag"></i>
                            <a href="#" rel="tag">Area Scouts</a>,
                            <a href="#" rel="tag">baseball</a>,
                            <a href="#" rel="tag">Brian Burgamy</a>,
                            <a href="#" rel="tag">Hitting</a>,
                            <a href="#" rel="tag">On Field
                                Assessment</a>
                        </div>
                    </div>

                    <div class="blog-right right-bottom">
                        <div class="share-buttons">
                            <span>SHARE</span>
                        </div>
                    </div>
                </div>

                <div class="blog-comments">
                    <h3 id="reply-title" class="comment-reply">Leave a comment</h3>
                    <div class="jumbotron">
                        <form>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                   <div class="form-group">
                                        <textarea class="form-control form-textarea" rows="9" placeholder="Message*"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name*">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email*">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Website">
                                    </div>
                                    <input type="submit" class="comment-btn" value="Post Comment">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 hide-sm">
                <%= render "layouts/sidebar"%>
            </div>
        </div>
    </div>
</section>