//about section
.aboutus-section {
  position: relative;
  top: 80px;
  @include breakpoint(sm) {
    top: 100px;
  }
}

.aboutus-image-wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.aboutus-inner-left {
  padding: 25px;
  background-color: $main-color;
  border-radius: 25px;
  color: $bg-white;

  .aboutus-h3 {
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 40px;
  }

  .aboutus-p {
    text-align: center;
    font-size: 1.1em;
    line-height: 30px;
    margin: 0 0 24px;
    font-weight: 400;
  }
}

.aboutus-inner-right {
  color: $secondary-color;

  .aboutus-h3 {
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 40px;
  }

  .aboutus-p {
    font-size: 25px;
    line-height: 28px;
    font-weight: 900;
  }

  @include breakpoint(sm) {
    margin-top: 40px;
    .aboutus-h3 {
      font-size: 24px;
    }
    .aboutus-p {
      font-size: 18px;
    }
  }
}
//about-end

//aboutbase
.aboutbase-section {
  position: relative;
  top: 150px;
  @include breakpoint(sm) {
    top: 130px;
  }

  .aboutbase-h3 {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 36px;
    line-height: 40px;
    font-weight: 900;
    @include breakpoint(sm) {
      font-size: 24px;
    }
  }

  .aboutbase-h2 {
    text-align: justify;
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 15px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    @include breakpoint(sm) {
      font-size: 30px;
    }
  }
}

//platform start
.platform-section {
  position: relative;
  top: 220px;
  margin-bottom: 250px;

  @include breakpoint(sm) {
    top: 160px;
    margin-bottom: 150px;
  }

  .platform-header {
    margin-bottom: 50px;
    padding: 15px;
    background-color: $main-color;
    border-radius: 5px;
  }

  .platform-h3 {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    color: $bg-white;
    margin: 0;

    @include breakpoint(sm) {
      font-size: 24px;
    }
  }

  .platform-wrapper {
    padding: 35px 15px 35px 15px;
    box-sizing: border-box;
    width: 100%;
    background-color: $secondary-color;
    border-radius: 25px;
    color: #fff;
  }

  .platform-h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 34px;
  }

  .platform-p {
    text-align: center; 
    font-size: 16px; 
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }

  .platform-img {
    width: 544px;
    max-width: 100%;
    max-height: 300px;
  }

  @include breakpoint(sm) {
    .mmt-10 {
      margin-top: 10px;
    }
  }
}


