.board-members {
  position: relative;
  top: 80px;
  margin-bottom: 150px;

  @include breakpoint(sm) {
    top: 100px;
    margin-bottom: 50px;
  }

  .board-image-wrapper {
    text-align: center;
    margin: 0;
  }

  .board-image-wrapper2 {
    text-align: center;
    margin-top: 50px;
  }

  .board-header {
    margin-bottom: 50px;
  }

  .fixed-height {
    min-height: 700px;
    @media screen and (min-width: 768px) and (max-width: 1024px) { 
      min-height: 950px;
    }
  }

  .fixed-height-2 {
    min-height: 881px;
    @media screen and (min-width: 768px) and (max-width: 1024px) { 
      min-height: 1211px;
    }
  }

  @include breakpoint(sm) {
    .mt-5 {
      margin-top: 0px  !important;
    }
  }

  .board-member-wrapper {
    background: #fff; 
    border-radius: 3px; 
    border: solid #f2711c 1px; 
    padding: 15px;
    text-align: center;

    @include breakpoint(sm) {
      margin-top: 15px;
    }

    .board-profile-pic {
      width: 150px; 
      height: 150px; 
      border-radius: 50%; 
      display: block; 
      margin-left: auto; 
      margin-right: auto;
    }

    .board-p {
      line-height: 30px;
    }

    .board-h4 {
      font-size: 30px;
      font-weight: 900;
      text-transform: uppercase;
      @include breakpoint(sm) {
        font-size: 18px;
      }
    }

    .board-h5 {
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
      @include breakpoint(sm) {
        font-size: 18px;
      }
    }

  }
}