// main colors
$main-color      : #0A2950;
$secondary-color : #F37A2D;
$bg-dark         : #1a1a1a;
$bg-white        : #ffffff;

// text
$text-dark        : #151515;
$font-size-xs     : 10px;
$font-size-small  : 12px;
$font-size-normal : 14px;
$font-size-lg     : 15px;
$font-size-xl     : 22px;

$font-weight-normal: 500;
$font-weight-medium: 600;