<% provide(:title, "Contact Us") %>
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-header-wrapper">
                    <h1 class="contact-h1">CONTACT US</h1>
                    <p><strong>If you have any questions or would like to learn more about Area Scouts, please leave a
                            comment below.</strong></p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="contact-info">
                    <div class="contact-h5">Massachusetts</div>
                    <div class="stm-contacts">
                        <div class="contact-phone contact-items">
                            <i class="fas fa-phone contact-icon"></i>
                            <div class="contact-value">339.221.7060</div>
                        </div>
                        <div class="contact-email contact-items">
                            <i class="far fa-envelope contact-icon"></i>
                            <div class="contact-value">
                                <a href="mailto:contact@areascouts.com" class="contact-a">
                                    contact@areascouts.com </a>
                            </div>
                        </div>
                        <div class="contact-schedule contact-items">
                            <i class="far fa-clock contact-icon"></i>
                            <div class="contact-value">Mon–Sat: 10:00 AM–10:00 PM EST</div>
                        </div>
                    </div>
                    <ul class="contact-socials">
                        <li class="stm-social-facebook">
                            <a href="https://www.facebook.com/groups/areascouts" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="stm-social-twitter">
                            <a href="https://twitter.com/areascouts" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="stm-social-youtube"><a
                                href="https://www.youtube.com/channel/UCFrKA1TEKpoWzeOaFwrr-mw" target="_blank"
                                rel="noopener"><i class="fa fa-youtube"></i></a></li>
                        <li class="stm-social-linkedin"><a href="https://www.linkedin.com/company/area-scouts"
                                target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="contact-form">
                    <h3>Feedback Form</h3>
                    <form>
                        <div class="form-group">
                            <label>Your Email (required)</label>
                            <input type="email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Your Message</label>
                            <textarea></textarea>
                        </div>
                        <input type="submit" class="contact-btn" value="Send">
                    </form>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="contact-info">
                    <div class="contact-h5">Florida</div>
                    <div class="stm-contacts">
                        <div class="contact-phone contact-items">
                            <i class="fas fa-phone contact-icon"></i>
                            <div class="contact-value">954.806.0800</div>
                        </div>
                        <div class="contact-email contact-items">
                            <i class="far fa-envelope contact-icon"></i>
                            <div class="contact-value">
                                <a href="mailto:contact@areascouts.com" class="contact-a">
                                    contact@areascouts.com </a>
                            </div>
                        </div>
                        <div class="contact-schedule contact-items">
                            <i class="far fa-clock contact-icon"></i>
                            <div class="contact-value">Mon–Sat: 10:00 AM–10:00 PM EST</div>
                        </div>
                    </div>
                    <ul class="contact-socials">
                        <li class="stm-social-facebook">
                            <a href="https://www.facebook.com/groups/areascouts" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="stm-social-twitter">
                            <a href="https://twitter.com/areascouts" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="stm-social-youtube"><a
                                href="https://www.youtube.com/channel/UCFrKA1TEKpoWzeOaFwrr-mw" target="_blank"
                                rel="noopener"><i class="fa fa-youtube"></i></a></li>
                        <li class="stm-social-linkedin"><a href="https://www.linkedin.com/company/area-scouts"
                                target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

                <div class="contact-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114614.62326658017!2d-80.21577972019311!3d26.141095484551773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9012720facaf5%3A0x7602be7540bf8ebe!2sFort%20Lauderdale%2C%20FL%2C%20USA!5e0!3m2!1sen!2sph!4v1601324840138!5m2!1sen!2sph" width="600" height="450" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen="" aria-hidden="false" tabindex="0" class="googlemaps"></iframe>
                </div>

            </div>
        </div>
    </div>
</section>
<%= render "layouts/shared"%>