<% provide(:title, "Get Evaluated") %>
<section class="evaluation-section">
    <div class="container">
        <div class="evaluation-image-wrapper">
            <%= image_tag "eva", class:"evaluation-image", alt:"Area Scouts" %>
        </div>
        <div class="evaluation-text-wrapper">
            <h1 class="evaluation-h1">Start your Development Process Today!</h1>
        </div>
        <div class="evaluation-profile-wrapper">
                <div class="evaluation-box">
                    <p>Create a FREE ATHLETE PROFILE on the <a href="https://app.areascouts.com/">Area Scouts
                            Platform</a>. Sign up for your Initial B.A.S.E. Assessment and On-Field Assessment, Monitor
                        and Track your Progress, and increase your Performance.<br>
                        Once your account is set up, you will be able to “Request an Evaluation” and access “Premium
                        Content” from your Area Scouts Player Dashboard.</p>
                    <p><a class="as-sign-up-btn" href="https://app.areascouts.com/"
                            title="Sign up for a free account now at app.areascouts.com!">CREATE FREE ATHLETE
                            PROFILE</a></p>
                    <div style="background: #404040; height: 1px; width: 100px; margin: 0 auto;"></div>
                </div>
        </div>
    </div>
</section>
<%= render "layouts/shared"%>