<% provide(:title, "Home") %>
<section class="cover-image">
    <div class="container-fluid home-section">
        <div class="row">
            <div class="col-12">
                <div class="cover-inner">
                    <div class="cover-wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <%= image_tag 'site-cover.jpeg', class: "site-cover" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render "layouts/shared"%>