<% provide(:title, "About Us") %>
<section class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="aboutus-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="aboutus-inner-left">
                    <div class="aboutus-wrapper-left">
                        <h3 class="aboutus-h3">What is Area Scouts?</h3>

                        <p class="aboutus-p">
                            Area Scouts ™ is a one-of-a-kind nation-wide
                            platform, with an emphasis on overall athlete health and development.
                        </p>

                        <p class="aboutus-p">
                            Area Scouts provides athletes with a state of the art
                            assessment, an athlete development program/score, and professional evaluations.
                            Through our innovative B.A.S.E. Assessment™, and Professional grade scouting
                            reports, athletes will be given specific tools to enhance their skill set and
                            achieve success.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="aboutus-inner-right">
                    <div class="aboutus-programs">
                        <h3 class="aboutus-h3">Our Programs Includes</h3>
                    </div>

                    <div class="aboutus-programs mt-5">
                        <h5 class="aboutus-p">
                            <strong>Area Scouts Athlete Development Score™</strong>
                        </h5>
                    </div>

                    <div class="aboutus-programs mt-1">
                        <h5 class="aboutus-p">
                            <strong>Pro Grade Scouting Report</strong>
                        </h5>
                    </div>

                    <div class="aboutus-programs mt-1">
                        <h5 class="aboutus-p">
                            <strong>Area Scouts Rank™</strong>
                        </h5>
                    </div>

                    <div class="aboutus-programs mt-1">
                        <h5 class="aboutus-p">
                            <strong>Area Scouts Health and Performance Score™</strong>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%= render "layouts/shared"%>