@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "base/_breakpoints";
@import "base/_init";

body, input, textarea {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
}

//navbar section

.navbar-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  padding: 0 !important;
  background: rgba(0, 0, 0, 0.85);
  background-color: rgba(255,255,255,0.9) !important;
  border-bottom: 1px solid #eee;

  @include breakpoint(sm) {
    border-bottom: none;
  }

  .logo {
    height: auto !important;
    width: 300px !important;
    margin-bottom: 5px;
    @include breakpoint(sm) {
      width: 200px !important;
    }
  }  

  .navbar-toggler {
    float: right;
    width: 64px;
    height: 60px;
    cursor: pointer;
    background: rgba(48, 49, 50, 0.8);
    border-radius: 3px;
  }
  
  .navbar-container {
    font-size: $font-size-lg;
    max-width: 1140px;

    @include breakpoint(sm) {
      padding: 20px;
      background: $text-dark;
    }

    .nav-item {
      padding: 0px 20px;
      @include breakpoint(sm) {
        text-align: center;
      }
    }

    .nav-link {
      padding-right: 0 !important;
      padding-left: 0 !important;
      padding: 23px;
      color: $text-dark;
      @include breakpoint(sm) {
        color: $bg-white;
      }
    }

    .nav-item:hover {
      background: $main-color;
      .nav-link {
        color: $bg-white;
      }
    }

    .active {
      background: $main-color;
      .nav-link {
        color: $bg-white;
      }
    }

    .to-glow {
      background: $main-color;
      -webkit-animation: bgcolorchange 3s infinite; /* Chrome, Safari, Opera */ 
      animation: 3s infinite bgcolorchange;
      .nav-link {
        color: $bg-white;
      }
    }

    @keyframes bgcolorchange {
      0% {
        background-color: $secondary-color;
      }
    }

  }
}
//end navbar

//footer section
.footer {
  position: relative;
  top: 60px;
  width: 100%;
}

.footer-bottom {
  padding: 22px 0 28px;
  background-color: $bg-dark;
  color: #fff;
}

.footer-text {
  text-align: center;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
//end footer


//cover
.cover-image {
  position: relative;
  top: 0;
  z-index: -1;
  @include breakpoint(sm) {
    top: 100px;
  }
}

.cover-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-bottom: 0px !important;
  @include breakpoint(sm) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.cover-wrapper {
  margin-bottom: 50px;
}

.site-cover {
  max-width: 100%;
  height: auto;
}
//end cover


//partners section
.partners-section {
  position: relative;
  top: 35px;
  @include breakpoint(sm) {
    top: 70px;
  }
}

.partners-h1 {
  text-align: center;
  color: $secondary-color;
  font-size: 60px;
  line-height: 64px;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  @include breakpoint(sm) {
    font-size: 40px;
  }
}

.partners-mb {
  margin-bottom: 50px;
}

.partners-logo {
  width: 250px !important;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
//end sections


.sports-section {
  position: relative;
  top: 35px;
  @include breakpoint(sm) {
    top: 70px;
  }
}

//sports section
.sports-h1 {
  text-align: left;
  color: $secondary-color;
  font-size: 60px;
  line-height: 64px;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  @include breakpoint(sm) {
    font-size: 40px;
  }
}

.as-sign-up-btn {
  padding: .7rem;
  background: $main-color;
  color: #fff !important;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
}

.as-sign-up-btn:hover {
  text-decoration: none;
  background: $secondary-color;
}


.sports-wrapper {
  color: $main-color;
  .fa-lg {
    font-size: 1.77em;
  }
  .sports-h4 {
    text-transform: uppercase;
    font-size: 30px !important;
    line-height: 34px;
    font-weight: 900;
  }
  
}
//end sports

//socials sections
.socials-section {
  position: relative;
  top: 60px;
  @include breakpoint(sm) {
    top: 70px;
  }
}

.socials {
  overflow: hidden;
  color: #bfbfbf;
  background-color: #262626;
  text-align: center;
}

.stm-social {
  padding: 35px 49px 33px 49px;
  width: 100%;
}

.stm-social:hover {
  background-color: #3a3939;
}


.sports-a {
  color: #bfbfbf;
  font-size: 32px;
}

.sports-a:hover {
  color: #bfbfbf;
}
//social end
