<% provide(:title, "Rugby") %>
<section class="rugby-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="rugby-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
                <div class="rugby-header">
                    <h2 class="decorated"><span>OUR RUGBY TEAM</span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12">
                <div class="rugby-member-wrapper">
                    <p>
                        <%= image_tag "jenna", class:"rugby-profile-pic" %>
                    </p>
                    <h4 class="rugby-h4">JENNA KEEFE</h4>
                    <h5 class="rugby-h5">DIRECTOR OF RUGBY OPERATIONS</h5>
                    <p class="rugby-p">
                        Jenna Keefe, born and raised in Massachusetts, began her Rugby career while attending Johnson
                        and Wales University, before transferring to Merrimack College to continue her degree in Sports
                        Management.
                    </p>
                    <p class="rugby-p">
                        At Merrimack college, Jenna serves as Vice President of the Rugby team, while she continues to
                        play the sport she fell in love with since day one. Jenna’s passion and achievements in the
                        sport have helped her make the easy decision to pursue Rugby as a career.
                    </p>
                    <p class="rugby-p">
                        Jenna has developed some substantial connections in the sport of Rugby, and has participated in
                        several development camps with the Professional Rugby Organization, the New England Free Jacks.
                        She also plays for the South Shore Sirens, out of Southern Massachusetts.
                    </p>
                    <p class="rugby-p">
                        Jenna plans to inspire countless of youth athletes to follow the same dreams she has in the
                        sport of Rugby, by introducing the sport to new areas in the United States, as well as
                        Worldwide. Her goal is to introduce youth athletes to some of the top Rugby resources and
                        development programs, that are not currently available to youth athletes today.
                    </p>
                    <p class="rugby-p">
                        Rugby popularity is on the rise, Jenna is excited to conquer her next challenge as Director Of
                        Rugby Operations for Area Scouts. Eager to share her passion, experience and knowledge in Rugby
                        with athletes throughout the world.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="rugby-member-wrapper mt-5">
                    <h4 class="rugby-h4">RUGBY DIRECTORS</h4>
                    <h5 class="rugby-h5">TO BE ANNOUNCED</h5>
                    <p class="rugby-p">
                        We are currently in the process of assembling the team of professional Directors to help lead
                        the Area Scouts Rugby side of the platform. These announcements will be made soon. Thank You
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<%= render "layouts/shared"%>