<% provide(:title, "Volleyball") %>
<section class="volleyball-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="volleyball-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
                <div class="volleyball-header">
                    <h2 class="decorated"><span>OUR VOLLEYBALL TEAM</span></h2>
                </div>
            </div>
        </div>

        <div class="volleyball-wrapper">
            <h1 class="volleyball-h1">Coming Soon!</h1>
        </div>
    </div>
</section>
<%= render "layouts/shared"%>