<div class="footer">
    <div class="footer-bottom">
        <div class="container">     
            <div class="footer-text">
                Copyright © 2021 Area Scouts™, LLC All Rights Reserved. / Copyright © 2021 B.A.S.E.™ Assessment
                All Rights Reserved.
            </div>
        </div>
    </div>
</div>